<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tty.blog.mapper.BlogUserMeansMapper">
    <resultMap id="userProfiles" type="com.tty.blog.vo.BlogUserProfilesVO">
        <id column="uid" property="uid"/>
        <result column="email" property="email"/>
        <result column="registerTime" property="registerTime"/>
        <result column="avatar" property="avatar"/>
        <result column="autograph" property="autograph"/>
        <result column="nickName" property="nickName"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="location" property="location"/>
        <result column="contact" property="contact"/>
<!--        <result column="background" property="background"/>-->
        <result column="likeNum" property="likeNum"/>
    </resultMap>
    <select id="queryUserProfiles" resultMap="userProfiles">
        select
        bu.uid,
        bu.email,
        bu.registerTime,
        bum.avatar,
        bum.autograph,
        bum.nickName,
        bum.age,
        bum.sex,
        bum.location,
        bum.contact,
<!--        bum.background,-->
        (select count(*) from blog_user_like_list as bull where bull.targetUid = bu.uid) as likeNum
        from blog_user_means as bum
        left join blog_user as bu on bum.uid = bu.uid
        where bum.uid = #{uid}
    </select>
    <select id="queryViewerIsLikeToTarget" resultType="java.lang.Boolean">
        select count(*) from blog_user_like_list as bull where bull.uid = #{viewer} and bull.targetUid = #{targetUid}
    </select>
    <update id="updateUserProfiles">
        update blog_user_means as bum
        left join blog_user as bu on bu.uid = bum.uid
        set
        <trim suffixOverrides=",">
            <if test="autograph != null and autograph != ''">
                bum.autograph = #{autograph},
            </if>
            <if test="nickName != null and nickName != ''">
                bum.nickName = #{nickName},
            </if>
            <if test="age != null">
                bum.age = #{age},
            </if>
            <if test="sex != null">
                bum.sex = #{sex},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''">
                bum.avatar = #{avatarUrl},
            </if>
            <if test="contact != null and contact != ''">
                bum.contact = #{contact},
            </if>
<!--            <if test="backgroundUrl != null and backgroundUrl != ''">-->
<!--                bum.background = #{backgroundUrl},-->
<!--            </if>-->
            <if test="password != null and password != ''">
                bu.password = #{password}
            </if>
        </trim>
        where bum.uid = #{uploader}
    </update>
</mapper>
