<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tty.common.mapper.BlogUserMapper">

    <resultMap id="userInfo" type="com.tty.common.vo.BlogUserInfoVO">
        <id property="uid" column="uid"/>
        <result property="email" column="email"/>
        <result property="registerTime" column="registerTime"/>
        <result property="avatar" column="avatar"/>
        <result property="nickName" column="nickName"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="autograph" column="autograph"/>
        <result property="background" column="background"/>
    </resultMap>
    <select id="loginUser" resultMap="userInfo">
        select
        bu.uid,
        bu.email,
        DATE_FORMAT(bu.registerTime, '%Y-%m-%d') as registerTime,
        bum.avatar,
        bum.nickName,
        bum.age,
        bum.sex,
        bum.autograph,
        bum.background
        from blog_user as bu
        left join blog_user_means as bum
        on bu.uid = bum.uid
        where bu.email = #{email} and bu.password = #{password}
    </select>

    <select id="queryByUid" resultMap="userInfo">
        select
            bu.uid,
            bu.email,
            DATE_FORMAT(bu.registerTime, '%Y-%m-%d') as registerTime,
            bum.avatar,
            bum.nickName,
            bum.age,
            bum.sex,
            bum.autograph,
            bum.background
        from blog_user as bu
        left join blog_user_means as bum
        on bu.uid = bum.uid
        where bu.uid = #{uid}
    </select>
</mapper>
