<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tty.common.mapper.BlogFriendMapper">
    <resultMap id="friendInstance" type="com.tty.common.vo.BlogFriendVO">
        <id property="id" column="id"/>
        <result property="friendName" column="friendName"/>
        <result property="friendLocation" column="friendLocation"/>
        <result property="friendIntroduction" column="friendIntroduction"/>
        <result property="friendAvatar" column="friendAvatar"/>
        <result property="createTime" column="createTime"/>
        <result property="friendUid" column="friendUid"/>
    </resultMap>
    <select id="getLists" resultMap="friendInstance">
        select *
        from blog_friends as bf
        order by bf.createTime
    </select>

    <insert id="insertApply">
        insert into blog_friend_apply (friendName, friendLocation, friendIntroduction, friendAvatar, applyTime, applyUid) VALUES
        (#{name}, #{location}, #{introduction}, #{avatar}, #{time}, #{uid})
    </insert>

    <select id="queryUserHadApply" resultType="java.lang.Boolean">
        select count(*) from blog_friend_apply as bfa where bfa.applyUid = #{uid}
    </select>
</mapper>
